@font-face {
    font-family: 'nanumsquarelight';
    src: url('./font/nanumsquarelight-webfont.woff2') format('woff2'),
         url('./font/nanumsquarelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
  font-family: 'nanumsquarelight','Arial',sans-serif;
  font-weight: lighter;
}
.bold{
  font-weight:bold;
}

#title-1{
  font-size: 4.25em;
  line-break: loose;
}

#title-4{
  margin-top: 0px;
}

body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.h2{
  font-size: 1.5em;
}


.bg-container{
  height: 100vh;
  width: 100%;
  background-image: url('../img/iwop-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.darken{
  position: relative;

}
.darken:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(5,155,255,0.55);
}

.intro > .title{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title{
  color: white;
  text-align: center;
}
.title h1{
  margin: 0;
  font-size: 4.25em;
}
.title > h2{
  margin: 0;
}
.title h1{
  margin: 0;
  font-size: 3.5em;
}
.icons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.circle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 100%;
  margin: 10px;
  transition: background-color 0.3s;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(207,207,207,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(207,207,207,1);
  box-shadow: 0px 0px 3px 0px rgba(207,207,207,1);

}
.circle:hover{
  border-color:#36afff;
  background-color:#36afff;
}

.circle a{
  color: white;
  width: 24px;
  height: 24px;
  cursor: default;
}

.about-container{
  width: 100%;
  margin-bottom: 30px;
}
.about-container .content{
  position: relative;
  /* border: 1px solid black; */
  font-size: 1.2em;
  padding: 15px;
}

.about-container .content h1{
   font-size: 2.5em;
   margin: 10px;
   color: #36afff;
 }
.about-container .content p{
  margin:5px;
}
.about-container .title h1{
  position: relative;
  top: 100px;
  font-size: 2.5rem;
  color:#36afff;
}
.about-container > .title-box{
  height: 120px;
  background-color:#0289e2;
  line-height: 120px;
  text-align: center;
}
.about-container > .title-box h3{
  margin: 0;
  font-size: 2.5em;
  color: white;
}
.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
}

 .card{
  margin: 15px;
  width: 300px;
  height: 300px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.text{
  width:100%;
  height: 100%;
}
.about-container .card svg{
  color:#36afff;
  width: 72px;
  height: 72px;
}

.work-container .title{
  color: #000;

}
.content{
  text-align: center;
  height: 100%;
}
.text.card{
  width:400px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(222,222,222,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(222,222,222,1);
  box-shadow: 0px 0px 5px 0px rgba(222,222,222,1);
}
.text.card  h1{
  font-weight: 300;
  background-color: #36afff;
  margin: 0;
  padding: 15px;
  color:white;

}
.text.card .year{
  width:100%;
}
.contents {
  width:100%;
  height:300px;
  overflow-y: scroll;
}
.contents ul{
  padding: 5px 5px 5px 15px;
  margin: 0;
}
.contents li{
  border-bottom: 1px solid #eee;
  width: inherit;
  line-height:50px;
  height:50px;
  text-align: left;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:13px;
}
.contents li h3{
  margin: 0;
  font-size: 18px;
  color: #36afff;
}
.lessons{
  position: relative;
  top:50px;
}
.icon.card svg{
  color: #36afff;
  width:50px;
  height:50px;
}
@media screen and (min-width: 768px){
  h2 > br{
    display: none;
  }
  h4 > br{
    display: none;
  }
  p > br{
    display: none;

  }
}
@media screen and (max-width:768px) {
  .cards{
    flex-direction: column;
  }
  .icon.card{
    width: 75%;
    height: 230px;
    margin: 0px;
  }

}
@media screen and (max-width:420px){
  .text.card{
    width:300px;
  }
}
